<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<!--
    Created by IntelliJ IDEA.
    User: marcelk
    Date: 22/11/2019
    Time: 08:12
    To change this template use File | Settings | File Templates.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Earthquake Visualisation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css">
        <link rel="stylesheet" href="https://js.arcgis.com/4.22/esri/themes/light/main.css">
        <link rel="stylesheet" th:href="@{/css/autoComplete.css}" href="../../css/autoComplete.css">
        <link rel="stylesheet" th:href="@{/css/earthquake.css}" href="../../css/earthquake.css">


        <script th:src="@{/js/jquery-3.4.1.min.js}" src="../../js/jquery-3.4.1.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../../js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="row justify-content-center">
            <div class="col-6">
                <form id="benchmark" action="/run" method="post">
                    <div class="form-group">
                        <input id="autoComplete" tabindex="1">
                    </div>
                </form>
            </div>
        </div>

        <div id="viewDiv">Map placeholder</div>
        <div id="timeSliderDiv"></div>

        <script th:src="@{/js/autoComplete.min.js}" src="../../js/autoComplete.min.js"></script>
        <script th:src="@{/js/location.auto.complete.js}" src="../../js/location.auto.complete.js"></script>
        <script src="https://js.arcgis.com/4.22/"></script>
        <script th:src="@{/js/earthquake.js}" src="../../js/earthquake.js"></script>
    </body>
</html>