#gallery img {
    height: 40vw;
    object-fit: cover;
}
@media (min-width: 768px) {
    #gallery img {
        height: 25vw;
    }
}
@media (min-width: 992px) {
    #gallery img {
        height: 18vw;
    }
}
.carousel-item img {
    height: 60vw;
    object-fit: cover;
}
@media (min-width: 576px) {
    .carousel-item img {
        height: 350px;
    }
}
